# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
# Load data files
weather_metadata = "..\output_data/my_weather_data.csv"

# Read data
weather_data = pd.read_csv(weather_metadata)

# Combine data into data set
weatherdf = pd.DataFrame(weather_data)
weatherdf.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Uusikaupunki,60.8004,21.4084,61.20,69,0,5.66,FI,1592265600
1,1,Thompson,55.7435,-97.8558,68.85,82,84,11.52,CA,1592265600
2,2,Dikson,73.5069,80.5464,33.94,98,100,13.31,RU,1592265600
3,3,Ushuaia,-54.8000,-68.3000,39.83,77,52,6.73,AR,1592265600
4,4,Busselton,-33.6500,115.3333,59.83,77,97,7.72,AU,1592265600

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key=g_key)

In [7]:
# Store 'Lat' and 'Lng' into  locations 
locations = weatherdf[["Latitude", "Longitude"]].astype(float)

#weatherdf = weatherdf.dropna()

hum_rate = weatherdf["Humidity"].astype(float)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
#Narrow down the DataFrame to find your ideal weather condition.

#A max temperature lower than 80 degrees but higher than 70.
first = weatherdf.loc[weatherdf["Max Temp"]<80,:]
second = first.loc[weatherdf["Max Temp"]>70,:]
second.head()

#Wind speed less than 10 mph.
third = second.loc[second["Wind Speed"]<10,:]
third

#Zero cloudiness.
fourth = third.loc[third["Cloudiness"]==0,:]
fourth.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
84,84,São Filipe,14.8961,-24.4956,76.77,79,0,4.83,CV,1592265600
127,127,Vila do Maio,15.1333,-23.2167,79.21,77,0,0.60,CV,1592265600
139,139,Sohag,26.5570,31.6948,77.43,30,0,5.23,EG,1592265600
174,174,Yangi Marg`ilon,40.4272,71.7189,72.93,32,0,3.62,UZ,1592265600
478,478,Nador,35.1740,-2.9287,71.76,48,0,5.19,MA,1592265600

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
#Store into variable named hotel_df.
#Add a "Hotel Name" column to the DataFrame.
hotel_df = pd.DataFrame()
fifth = pd.DataFrame(fourth)
hotel_df['City'] = fifth['City']
hotel_df['Country'] = fifth['Country']
hotel_df['Lat'] = fifth['Latitude']
hotel_df['Lng'] = fifth['Longitude']
#hotel_df['Hotel Name'] = ""
hotel_df.head()

                City Country      Lat      Lng
84        São Filipe      CV  14.8961 -24.4956
127     Vila do Maio      CV  15.1333 -23.2167
139            Sohag      EG  26.5570  31.6948
174  Yangi Marg`ilon      UZ  40.4272  71.7189
478            Nador      MA  35.1740  -2.9287

In [11]:
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    latitude = row['Lat']
    longitude = row['Lng']
    city = row['City']
    country = row['Country']

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(f"https://maps.googleapis.com/maps/api/place/textsearch/json?location={latitude},{longitude}&radius=5000&type=hotel&key={g_key}").json()
    
    # extract results
    results = response['results']
    
    try:
        hotelname = response['results'][7]['name']
        print(f"Closest hotel to {city} at {latitude} , {longitude} is {hotelname}.")
        
        hotel_df.loc[index, "Hotel Name"] = hotelname
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 84: São Filipe.
Missing field/result... skipping.
------------
Retrieving Results for Index 127: Vila do Maio.
Missing field/result... skipping.
------------
Retrieving Results for Index 139: Sohag.
Missing field/result... skipping.
------------
Retrieving Results for Index 174: Yangi Marg`ilon.
Missing field/result... skipping.
------------
Retrieving Results for Index 478: Nador.
Missing field/result... skipping.
------------
Retrieving Results for Index 491: Luanda.
Missing field/result... skipping.
------------
Retrieving Results for Index 502: Benguela.
Missing field/result... skipping.
------------
Retrieving Results for Index 529: Kallithea.
Missing field/result... skipping.
------------
Retrieving Results for Index 532: Farah.
Missing field/result... skipping.
------------
Retrieving Results for Index 542: Paranaíba.
Missing field/result... skipping.
------------
Retrieving Results for Index 578: Pozo Colorado.
Missing field/result... skipping.
------------
Retrieving Results for Index 580: Eilat.
Missing field/result... skipping.
------------

In [12]:
hotel_df.head()

                City Country      Lat      Lng
84        São Filipe      CV  14.8961 -24.4956
127     Vila do Maio      CV  15.1333 -23.2167
139            Sohag      EG  26.5570  31.6948
174  Yangi Marg`ilon      UZ  40.4272  71.7189
478            Nador      MA  35.1740  -2.9287

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations2 = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [15]:
# Add marker layer ontop of heat map


fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=hum_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1, opacity=1)

marker_layer = gmaps.marker_layer(locations2, hover_text='', label='', info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
plt.savefig("vacationheatmapwithhotels.png")

fig
# Display Map

NameError: name 'locations2' is not defined